.desc-about {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--font-color-muted-white);
    /* font-weight: 300; */
    letter-spacing: 1px;
    color: #f0f8ff;
    opacity: .7;
    line-height: 24px;
}

h1.heading-greetings div span:hover {
    color: #f4a949;
    cursor: default;
    -webkit-animation: rubberBand;
    animation: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    z-index: 100;
}

h1.heading-greetings div span {
    color: var(--font-color-muted-white);
    display: inline-block;
    font-weight: bolder;
    font-size: 60px;
    transition: all .8s ease-out;
    z-index: 2;
    position: relative;
}

p {
    color: var(--font-color-muted-white);
    margin-right: 20px;
}

.greetings {
    margin-right: 20px;
    max-width: 300px;
    background-color: --var(--font-color-bg-dark);
}

.desc {
    margin-left: 20px;
    z-index: 5;
}

.self-image {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    opacity: .1;
}

.desktop-only img {
    width: 200px;
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
        opacity: 0;
    }
}

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
        opacity: 0;
    }
}

@-webkit-keyframes slideInFromBelow {
    from {
        -webkit-transform: translate3d(0, 100vh, 0);
        transform: translate3d(0, 100vh, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInFromBelow {
    from {
        -webkit-transform: translate3d(0, 100vh, 0);
        transform: translate3d(0, 100vh, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animation-slideInFromBelow {
    -webkit-animation-name: slideInFromBelow;
    animation-name: slideInFromBelow;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-druation-500ms {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1s {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1200ms {
    -webkit-animation-duration: 1200ms;
    animation-duration: 1200ms;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1400ms {
    -webkit-animation-duration: 1400ms;
    animation-duration: 1400ms;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-delay-200ms {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    /* animation-duration: 500ms; */
}

@media (max-width: 960px) {
  body {
    overflow-y: scroll;
  }

  h1.heading-greetings div span {
    font-size: 40px;
  }
}