@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

:root {
  --font-color-muted-white: #f0f8ff;
  --font-color-bg-dark: #141416;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 18px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

.navbar-custom {
  background-color: var(--font-color-bg-dark);
  height: 120px;
  background-color: rgba(51, 51, 51, 0.0);
}

.nav-item-logo {
  text-align: start;
  margin-left: 50px;
}

.nav-item-contact {
  background: var(--font-color-muted-white);
  padding: 8px 22px;
  position: fixed;
  top: 50px;
  right: 60px;
  display: block;
  border: 2px solid var(--font-color-muted-white);
  background-color: transparent;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
  color: var(--font-color-muted-white);
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.nav-item-contact:hover {
  background-color: var(--font-color-muted-white);
  color: var(--font-color-bg-dark);
}

.side-nav-items {
  list-style: none;
  position: relative;
}

.side-nav-items li a {
  display: block;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: #f0f8ff;
  transition: all .5s ease-in-out;
}

.side-nav-items:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  border-radius: 50px;
  height: 100%;
  display: block;
  opacity: .4;
  background-color: #f0f8ff;
}

.line {
  height: 50px;
  width: 3px;
  background-color: #f0f8ff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50px;
  transition: all .5s ease-in-out;
}

.fixed-top {
  left: auto !important;
}

.home,
.skills,
.about {
  background-color: var(--font-color-bg-dark);
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

p.desc {
  color: var(--font-color-muted-white);
  margin: 32px 32px 32px 0;
  animation: slideInFromLeft 1s ease-in-out;
}

h1.title-position {
  animation: slideInFromLeft 1s ease-in-out;
}

h1.title-position div span:hover {
  color: #f4a949;
  cursor: default;
  -webkit-animation: rubberBand;
  animation: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

h1.title-position div span {
  color: var(--font-color-muted-white);
  display: inline-block;
  font-weight: bolder;
  font-size: 60px;
  transition: all .8s ease-out;
}

.link-about-me {
  text-decoration: none;
  color: peru;
  font-weight: bold;
  animation: slideInFromLeft 0.3s ease-out;
}

.link-about-me::after {
  content: "❯";
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.35s ease;
  animation: slideInFromLeft 0.3s ease-out;
}

.link-about-me:hover::after {
  transform: rotate(90deg);
}

.bg-pattern {
  height: 400px;
  width: 100%;
  opacity: 1
}

.coder-wrapper {
  position: relative;
}

.coder-illustration {
  width: 100% !important;
  height: 100%;
  background-image: url('./asset/image/programmer.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  transform: translatey(0px);
  animation: slideInFromTop 1s ease-out forwards, float 4s ease-in-out infinite alternate 1s;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 960px) {
  body {
    overflow-y: scroll;
  }

  h1.title-position div span {
    font-size: 40px;
  }
}

@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }

  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }

  55% {
    transform: scaleX(0.85) scaleY(1.25);
  }

  65% {
    transform: scaleX(1.09) scaleY(0.85);
  }

  75% {
    transform: scaleX(0.9) scaleY(1.10);
  }

  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  25% {
    transform: translateX(20px);
  }

  50% {
    transform: translateX(-10px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  /* Faster fall (same as previous) */
  30% {
    opacity: 1;
    transform: translateY(0);
  }

  /* Bouncing section (slightly faster) */
  45% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(-5px);
  }

  /* Shortened pause at peak */
  85% {
    transform: translateY(2px);
  }

  /* End of bouncing section */

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
    transform: translatey(-20px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }

  to {
    -webkit-transform: translate3d(0, 1000, 0);
    transform: translate3d(0, 1000, 0);
    opacity: 0;
  }
}

.animation-slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-delay-500ms {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  animation-duration: 500ms;
}

.animation-delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  animation-duration: 500ms;
}

.animation-delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-duration: 500ms;
}

.animation-delay-200ms {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  animation-duration: 200ms;
}

@-webkit-keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
  }
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
  }
}

.animation-fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-faster {
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-fastest {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-slower {
  -webkit-animation-duration: 3000ms;
  animation-duration: 3000ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

@-webkit-keyframes slideInFromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    -webkit-transform: translate3d(0, -100vh, 0);
    transform: translate3d(0, -100vh, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animation-slideInFromTop {
  -webkit-animation-name: slideInFromTop;
  animation-name: slideInFromTop;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-900ms {
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-950ms {
  -webkit-animation-duration: 950ms;
  animation-duration: 950ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}


.animation-duration-1000ms {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1050ms {
  -webkit-animation-duration: 1050ms;
  animation-duration: 1050ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1100ms {
  -webkit-animation-duration: 1100ms;
  animation-duration: 1100ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1150ms {
  -webkit-animation-duration: 1150ms;
  animation-duration: 1150ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1200ms {
  -webkit-animation-duration: 1200ms;
  animation-duration: 1200ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1250ms {
  -webkit-animation-duration: 1250ms;
  animation-duration: 1250ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1300ms {
  -webkit-animation-duration: 1300ms;
  animation-duration: 1300ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1350ms {
  -webkit-animation-duration: 1350ms;
  animation-duration: 1350ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1400ms {
  -webkit-animation-duration: 1400ms;
  animation-duration: 1400ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1450ms {
  -webkit-animation-duration: 1450ms;
  animation-duration: 1450ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1500ms {
  -webkit-animation-duration: 1500ms;
  animation-duration: 1500ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1550ms {
  -webkit-animation-duration: 1550ms;
  animation-duration: 1550ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1600ms {
  -webkit-animation-duration: 1600ms;
  animation-duration: 1600ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1650ms {
  -webkit-animation-duration: 1650ms;
  animation-duration: 1650ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1700ms {
  -webkit-animation-duration: 1700ms;
  animation-duration: 1700ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1750ms {
  -webkit-animation-duration: 1750ms;
  animation-duration: 1750ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1800ms {
  -webkit-animation-duration: 1800ms;
  animation-duration: 1800ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1850ms {
  -webkit-animation-duration: 1850ms;
  animation-duration: 1850ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1900ms {
  -webkit-animation-duration: 1900ms;
  animation-duration: 1900ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-1950ms {
  -webkit-animation-duration: 1950ms;
  animation-duration: 1950ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-2000ms {
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
} 

.animation-duration-2050ms {
  -webkit-animation-duration: 2050ms;
  animation-duration: 2050ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-2100ms {
  -webkit-animation-duration: 2100ms;
  animation-duration: 2100ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-2150ms {
  -webkit-animation-duration: 2150ms;
  animation-duration: 2150ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-2200ms {
  -webkit-animation-duration: 2200ms;
  animation-duration: 2200ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-2250ms {
  -webkit-animation-duration: 2250ms;
  animation-duration: 2250ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-2300ms {
  -webkit-animation-duration: 2300ms;
  animation-duration: 2300ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.animation-duration-2350ms {
  -webkit-animation-duration: 2350ms;
  animation-duration: 2350ms;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.desktop-only {
  display: none;
  /* Hide on smaller screens (mobile by default) */
}

/* Show on devices with a minimum width (e.g., 768px or 992px) */
@media (min-width: 768px) {
  .desktop-only {
    display: block;
    /* Or any other appropriate display value like 'inline', 'inline-block', 'flex', 'grid' */
  }
}

.terminal {
  padding: 8px 22px;
  position: fixed;
  /* top: 50px;
  left: 0px; */
  display: block;
  background-color: transparent;
  color: var(--font-color-muted-white);
  /* z-index: 7; */
}

.blurred-code-1 {
  position: absolute;
  bottom: -300px;
  left: -200px;
  height: 500px;
  width: 500px;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  z-index: 1;
  opacity: 0.7;
}

.blurred-code-2 {
  position: absolute;
  bottom: calc(-100vh - 200px);
  right: -200px;
  height: 500px;
  width: 500px;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  z-index: 1;
  transform: rotate(180deg);
  opacity: 0.7;
}

.blurred-code-3 {
  position: absolute;
  bottom: calc(-100vh * 2 - 300px);
  left: -200px;
  height: 500px;
  width: 500px;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  z-index: 1;
  opacity: 0.7;
}